<style>
  @import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
</style>
*{
    box-sizing: border-box;
}
html {
    background-color: khaki;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: blueviolet;
}
header{
    background-color: brown;
    padding: 1rem;
    font-family: 'Aguafina Script', cursive;
    text-align: center;
    font-size: 2rem;
    
}

nav{
    background-color: aquamarine;
}

article{
    background-color: cadetblue;
}

section{
    background-color: chartreuse;
}

footer{
    background-color: fuchsia;
}
